@model IRNA.Web.ViewModels.LiveViewModel.StreamRoot
@{
    ViewBag.Title = "پخش زنده";
}

<!--http://tv.irna.ir/live/stream/index.m3u8-->
@section Styles {
    <link href="@Url.Content("~/Assets/css/movie-detail.css")" rel="stylesheet" type="text/css" />
    <link href="~/Assets/video-js.css" rel="stylesheet">

}

<main class="wraper pb-3">
    <!-- images and detail of movie -->
    <div class="movie-images">
        <video id='hls-example' class="video-js vjs-default-skin vjs-big-play-centered" style="width:100%" controls preload="auto" autoplay data-setup="{}" controls>
            <source src="@Model.more.list.FirstOrDefault().link" type="application/x-mpegURL">
        </video>
    </div>
    <!-- images and detail of movie -->
    <!-- users comments -->
</main>

@section Scripts{
    <script src="~/Assets/js/movie-detail.js"></script>

    <script src="~/Assets/videojs-contrib-hls.js"></script>
    <script src="~/Assets/video.js"></script>

    <script>
        var player = videojs('hls-example');
        player.play();
    </script>
}
