
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <link href="@Url.Content("~/Assets/css/user-dashboard-visited.css")" rel="stylesheet" type="text/css" />
    
}
<main class="wraper pb-3">
    <div class="user-dashboard-container">
        <div class="user-dashboard">
            <span class="bi bi-person-fill"></span>
            <div class="user-info">
                <span>مجید بابایی</span>
                <span>09352204330</span>
            </div>
        </div>
        <hr />
        <div class="d-flex flex-column flex-lg-row">
            @Html.Partial("_Profile")
            <div class="d-flex flex-column big-padding">
                <div class="filter">
                    <div class="btn-group">
                        <div class="btn">همه</div>
                        <div class="btn">فیلم</div>
                        <div class="btn">سریال</div>
                    </div>
                </div>
                @*<div class="videos-container">
                    <div class="video-card">
                        <img src="~/Assets/images/Double-Dad.jpg" alt="" />
                        <p>دو پدره</p>
                    </div>
                    <div class="video-card">
                        <img src="~/Assets/images/Double-Dad.jpg" alt="" />
                        <p>گلی</p>
                    </div>
                    <div class="video-card">
                        <img src="~/Assets/images/Double-Dad.jpg" alt="" />
                        <p>مونیخ در لبه جنگ</p>
                    </div>
                    <div class="video-card">
                        <img src="~/Assets/images/Double-Dad.jpg" alt="" />
                        <p>دو پدره</p>
                    </div>
                    <div class="video-card">
                        <img src="~/Assets/images/Double-Dad.jpg" alt="" />
                        <p>گلی</p>
                    </div>
                    <div class="video-card">
                        <img src="~/Assets/images/Double-Dad.jpg" alt="" />
                        <p>مونیخ در لبه جنگ</p>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
</main>