<footer>
    <div class="head">
        <span class="d-none d-lg-inline-flex text-light small">
            ما را در شبکه های اجتماعی دنبال کنید
        </span>
        <a href="#"><span class="bi bi-twitter"></span></a>
        <a href="#"><span class="bi bi-linkedin"></span></a>
        <a href="#"><span class="bi bi-telegram"></span></a>
        <a href="#"><span class="bi bi-instagram"></span></a>
    </div>
    <div class="shapheadltr"><h3 class="text-light h5">IRNA FILM</h3></div>
    <div class="footer-title">
        <div class="content">
            <p class="small text-light">پنجره ای به دنیایی فیلم و سریال</p>
        </div>
        <a href="#">
            <img src="~/Assets/images/logo.png" alt="logo" class="logo rounded-1" />
        </a>
    </div>
    <div class="footer">
        <div class="news-leter">
            <label for="email" class="text-light mb-3 mb-lg-0">
                عضویت در خبر نامه ایرنا فیلم
            </label>
            <div class="input-group">
                <input id="email"
                       type="text"
                       class="form-control"
                       placeholder="ایمیل خود را وارد نمایید" />
                <button class="btn text-dark input-group-text">ارسال</button>
            </div>
        </div>
        <div class="usefull-links">
            <div class="links">
                <a href="" class="nav-link text-light">درباره ما</a>
                <a href="" class="nav-link text-light">فیلم</a>
                <a href="" class="nav-link text-light">مجموعه ها</a>
                <a href="" class="nav-link text-light">تماس با ما</a>
                <a href="" class="nav-link text-light">سریال</a>
                <a href="" class="nav-link text-light">سوالات متداول</a>
            </div>
            <button class="btn rounded-pill text-dark">دانلود اپلیکیشن</button>
        </div>
        <div class="copy-rights text-light">
            کلیه حقوق این وب سایت متعلق به خبرگزاری جمهوری اسلامی می باشد
        </div>
    </div>
</footer>