
<div class="categories">
    <a href="#" class="btn">
        <span class="bi bi-vinyl"></span><span class="text"> دیده شده ها </span>
    </a><a href="#" class="btn">
        <span class="bi bi-wifi-off"></span><span class="text"> گالری آفلاین</span>
    </a><a href="#" class="btn">
        <span class="bi bi-chat-left-text"></span><span class="text">پیغام ها</span>
    </a><a href="#" class="btn">
        <span class="bi bi-ticket-perforated"></span><span class="text">اشتراک</span>
    </a><a href="#" class="btn">
        <span class="bi bi-lock"></span><span class="text">تغییر گذر واژه</span>
    </a><a href="#" class="btn">
        <span class="bi bi-pencil-square"></span><span class="text"> ویرایش حساب کاربری</span>
    </a>
    <a href="/account/LogOut" class="btn">
        <span class="bi bi-box-arrow-left"></span><span class="text">خروج</span>
    </a>
</div>