
 
<nav class="topnav">
    @Html.Action("Menu", "Home")

    @Html.Action("Menu", "Home", new { isMobile = true })
    <div class="nav-group ms-auto">
        <form method="get" action="/list">
            <input type="search" required
                   placeholder="جستجو"
                   data-visible="false"
                   class="form-control d-none d-lg-block"
                   name="q"
                   id="searchd" />
            <input type="search" required
                   placeholder="جستجو"
                   data-visible="false"
                   class="form-control"
                   name="q"
                   id="searchm"
                   style="display: none" />
        </form>
        <span id="search-btn" class="bi bi-search search-icon ms-2"></span>
        <a href="#" class="nav-link text-light ms-2">خرید اشتراک</a>
        @if (string.IsNullOrEmpty(Request.GetCookieOrDefault("Token")))
        {
            <a href="/login" class="nav-link text-light ms-2">ورود</a>
        }
        else
        {
            <a href="/profile" class="nav-link text-light ms-2">پروفایل</a>
        }
        <button class="btn rounded-pill text-dark download-app ms-2 d-lg-none d-xl-flex">
            دانلود اپلیکیشن
        </button>
    </div>
</nav>
