
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <link href="@Url.Content("~/Assets/css/about.css")" rel="stylesheet" type="text/css" /> 
    }
    <main class="wraper pb-3">
        <div class="about">
            <img src="~/Assets/images/about.jpg" alt="about" />
            <h3>دربـاره مــا</h3>
            <p class="content">
                سرزمین شاتل“ که زیر مجموعه گروه شرکتهای شاتـل (گروه فنــاوری “ شرکت
                ارتباطات و اطلاعات شاتل) است، فعالیت خود را از سـال 1393 با راه
                انــدازی وبسـایت شاتل لند با هدف تامین نیازهای کاربران در حوزه وب
                آغــاز نمــود . سرزمین شاتل پورتالی برای ورود کاربران به دنیای دیجیتال
                و پاسخ گـویی بــه حجم انبوه درخواستها، نیــازها، علاقه مندیها، ضروریات
                روزمره و پر کــردن سالم اوقات فراغت است. سرزمین شاتل در سایت نماوا
                امکــان پخش آنــلاین فیلمها و سریالهای محبوب شما به همراه قـــابلیت
                تنظیم هوشمندانه سرعت نمایش با سرعت اینترنت را در اختیار شما کاربران
                گرامی قرار می دهد. مشـاهده ،پیش نمایشی از فیلم و سریالها، جستجــوی
                سریــــع مجموعــه انتخـــابی آرشیوی کامل از پرطرفدارترین فیلمها
                وسریالها از جمله قابلیتهای بروزتــرین سایت اشتراک ویدیو نماوا است.
                نماوا این امکان را برای کــاربران خــود فراهم کرده است در سریعترین
                زمان ممکن و تنها با چند کلیک سریـالها و فیلــمهای مورد علاقه خود را به
                صورت آنلاین مشاهده نمایند. بخش عمـدهای از محتـوای نمـاوا به صــورت
                کاملا رایگان در اختیار علاقهمندان به این سایت قــرار گرفتــه است و
                سایر محتوا با پرداخت آنلاین هزینه مربوط به خرید اشتــراک ماهیانــه
                نماوا قابل نمـایش اسـت. کاربران میبایست پس از انتخاب سریال یا فیلم
                مورد نظر به صورت آنلاین مبلغ مورد نظر را پرداخت نمایند تا در مدت
                اشتراک خــود به تمامی محتواهـــای موجود در نمـــاوا دسترسی داشته باشند
                و به تماشــای آنها بپردازند. خدمات ارایه شده در نماوا، دارای مجوز های
                لازم از مراجع مربـوطه می بـــاشد و هر گــــونه بهره بــرداری و سوء
                استفاده از محتوای نماوا، پیگرد قانونی دارد.
                <br />
                <br />
                ما همواره مشتاق دریافت
                نظرات و پیشنهادات سازنده شما به منظور ارایه هرچه بهتر و کارآمدتر کردن
                سایت نمــاوا هستیم. در صورتی که علاقهمنـد به در میان گذاشتن نظرات خود
                با ما هستید، آنها را از طریق فرم تمــاس با ما برایمـــان ارسال نمائید
            </p>
        </div>
    </main>