@model IRNA.Web.ViewModels.ContentResponseVM

@if (Model.list != null)
{
    <div class="adds-slider-container pt-3 pb-3">
        <div class="swiper adds-slider">
            <div class="swiper-wrapper">
                @foreach (var item in Model.list)
                {
                    <div class="swiper-slide ads-img">
                        <a href="/content/@item.id">
                            <img class="add-content" src="@($"{Settings.BaseUrl}iptv/irna/rest/v2/images/downloadGalleryImage" +
$"?type=content&id={item.id}&code={Settings.AdsCode}&position=0")" alt="@item.title" />

                        </a>
                    </div>
                }
            </div>
        </div>
    </div>}