
@model IRNA.Web.ViewModels.ContentResponseVM

@if (Model.list.Any() && Model.list != null)
{
    <div class="events-slider-container">
        <div class="head mb-2">
            <h2 class="h5 text-light m-0">مناسبت ها</h2>

            @*<a href="#" class="nav-link text-light view-all">مشاهده همه</a>*@
        </div>
        <div class="swiper events-slider">
            <div class="swiper-wrapper">
                @foreach (var item in Model.list)
                {
                    <div class="swiper-slide">
                        <a href="/content/@item.id" class="events-content text-light nav-link">
                            <img src="@($"{Settings.BaseUrl}iptv/irna/rest/v2/images/downloadGalleryImage" +
$"?type=content&id={item.id}&code={Settings.EventCode}&position=0")" alt="" />
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>}