
@{
    ViewBag.Title = "Faq";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <link href="@Url.Content("~/Assets/css/faq.css")" rel="stylesheet" type="text/css" />
}

<main class="wraper pb-3">
    <div class="faq">
        <img src="./images/faq.jpg" alt="" />
        <h1 class="title">سوالات متداول</h1>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#collapseOne"
                            aria-expanded="true"
                            aria-controls="collapseOne">
                        چگونه در ایرنافیلم ثبت نام کنیم ؟
                    </button>
                </h2>
                <div id="collapseOne"
                     class="accordion-collapse collapse show"
                     aria-labelledby="headingOne"
                     data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        پس از دانلود اپلیکیشن یا ورود به سایت،گزینۀ ورود/ثبت نام را
                        انتخاب کنید. سپـس شماره تلفن همراه خود را واردکنید. پس از وارد
                        کردن شمارۀ همراه، کد تا￾دی که برای شما از طریق پیامک ارسال شده
                        را وارد کنید و وارد ایرنا فیلم شــوید.پــس از دانلــود اپلیکیشن
                        یا ورود به سایت،گزینۀ ورود/ثبت نام را انتخاب کنیـد. سپــس شماره
                        تلفن همراه خود را واردکنید. پس از وارد کردن شمارۀ همراه، کد
                        تا￾ـدی کــه برای شــما از .طریق پیامک ارسال شده را وارد کنید و
                        وارد ایرنا فیلم شوید
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#collapsetwo"
                            aria-expanded="true"
                            aria-controls="collapseOne">
                        چگونه می توانم اشتراک بخرم ؟
                    </button>
                </h2>
                <div id="collapsetwo"
                     class="accordion-collapse collapse show"
                     aria-labelledby="headingOne"
                     data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        پس از دانلود اپلیکیشن یا ورود به سایت،گزینۀ ورود/ثبت نام را
                        انتخاب کنید. سپـس شماره تلفن همراه خود را واردکنید. پس از وارد
                        کردن شمارۀ همراه، کد تا￾دی که برای شما از طریق پیامک ارسال شده
                        را وارد کنید و وارد ایرنا فیلم شــوید.پــس از دانلــود اپلیکیشن
                        یا ورود به سایت،گزینۀ ورود/ثبت نام را انتخاب کنیـد. سپــس شماره
                        تلفن همراه خود را واردکنید. پس از وارد کردن شمارۀ همراه، کد
                        تا￾ـدی کــه برای شــما از .طریق پیامک ارسال شده را وارد کنید و
                        وارد ایرنا فیلم شوید
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#collapsethree"
                            aria-expanded="true"
                            aria-controls="collapseOne">
                        پرداخت در ایرنافیلم از چه طریقی انجام می شود ؟
                    </button>
                </h2>
                <div id="collapsethree"
                     class="accordion-collapse collapse show"
                     aria-labelledby="headingOne"
                     data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        پس از دانلود اپلیکیشن یا ورود به سایت،گزینۀ ورود/ثبت نام را
                        انتخاب کنید. سپـس شماره تلفن همراه خود را واردکنید. پس از وارد
                        کردن شمارۀ همراه، کد تا￾دی که برای شما از طریق پیامک ارسال شده
                        را وارد کنید و وارد ایرنا فیلم شــوید.پــس از دانلــود اپلیکیشن
                        یا ورود به سایت،گزینۀ ورود/ثبت نام را انتخاب کنیـد. سپــس شماره
                        تلفن همراه خود را واردکنید. پس از وارد کردن شمارۀ همراه، کد
                        تا￾ـدی کــه برای شــما از .طریق پیامک ارسال شده را وارد کنید و
                        وارد ایرنا فیلم شوید
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#collapsefour"
                            aria-expanded="true"
                            aria-controls="collapseOne">
                        حجم اینترنت مصرفی در ایرنافیلم به چه صورت است ؟
                    </button>
                </h2>
                <div id="collapsefour"
                     class="accordion-collapse collapse show"
                     aria-labelledby="headingOne"
                     data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        پس از دانلود اپلیکیشن یا ورود به سایت،گزینۀ ورود/ثبت نام را
                        انتخاب کنید. سپـس شماره تلفن همراه خود را واردکنید. پس از وارد
                        کردن شمارۀ همراه، کد تا￾دی که برای شما از طریق پیامک ارسال شده
                        را وارد کنید و وارد ایرنا فیلم شــوید.پــس از دانلــود اپلیکیشن
                        یا ورود به سایت،گزینۀ ورود/ثبت نام را انتخاب کنیـد. سپــس شماره
                        تلفن همراه خود را واردکنید. پس از وارد کردن شمارۀ همراه، کد
                        تا￾ـدی کــه برای شــما از .طریق پیامک ارسال شده را وارد کنید و
                        وارد ایرنا فیلم شوید
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#collapsefive"
                            aria-expanded="true"
                            aria-controls="collapseOne">
                        آیا امکان لغو اشتراک در ایرنافیلم وجود دارد ؟
                    </button>
                </h2>
                <div id="collapsefive"
                     class="accordion-collapse collapse show"
                     aria-labelledby="headingOne"
                     data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        پس از دانلود اپلیکیشن یا ورود به سایت،گزینۀ ورود/ثبت نام را
                        انتخاب کنید. سپـس شماره تلفن همراه خود را واردکنید. پس از وارد
                        کردن شمارۀ همراه، کد تا￾دی که برای شما از طریق پیامک ارسال شده
                        را وارد کنید و وارد ایرنا فیلم شــوید.پــس از دانلــود اپلیکیشن
                        یا ورود به سایت،گزینۀ ورود/ثبت نام را انتخاب کنیـد. سپــس شماره
                        تلفن همراه خود را واردکنید. پس از وارد کردن شمارۀ همراه، کد
                        تا￾ـدی کــه برای شــما از .طریق پیامک ارسال شده را وارد کنید و
                        وارد ایرنا فیلم شوید
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#collapsesix"
                            aria-expanded="true"
                            aria-controls="collapseOne">
                        نحوه وارد کردن اطلاعات کاربردی در ایرنافیلم به چه صورت اس
                    </button>
                </h2>
                <div id="collapsesix"
                     class="accordion-collapse collapse show"
                     aria-labelledby="headingOne"
                     data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        پس از دانلود اپلیکیشن یا ورود به سایت،گزینۀ ورود/ثبت نام را
                        انتخاب کنید. سپـس شماره تلفن همراه خود را واردکنید. پس از وارد
                        کردن شمارۀ همراه، کد تا￾دی که برای شما از طریق پیامک ارسال شده
                        را وارد کنید و وارد ایرنا فیلم شــوید.پــس از دانلــود اپلیکیشن
                        یا ورود به سایت،گزینۀ ورود/ثبت نام را انتخاب کنیـد. سپــس شماره
                        تلفن همراه خود را واردکنید. پس از وارد کردن شمارۀ همراه، کد
                        تا￾ـدی کــه برای شــما از .طریق پیامک ارسال شده را وارد کنید و
                        وارد ایرنا فیلم شوید
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>