
@{
    ViewBag.Title = "خانه";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="wraper py-3">
    <!-- main slider -->
    <div class="main-slider-container">
        <div class="swiper main-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide fake-slide">
                    <img src="~/Assets/images/hamrafigh.jpg"
                         class="d-none d-lg-block"
                         alt="hamrafigh" />
                    <img src="~/Assets/images/hamrafigh.jpg"
                         class="d-block d-lg-none img-m"
                         alt="hamrafigh" />
                    <span class="quick-watch text-light py-3 rounded-pill rounded-end">
                        <span class="px-2">پخش فوری</span>
                        <span class="me-4 ms-2 circle"></span>
                    </span>
                    <button class="watch-video text-light btn rounded-pill position-absolute translate-middle">
                        پخش فیلم
                    </button>
                </div>
                <div class="swiper-slide fake-slide">
                    <img src="~/Assets/images/hamrafigh.jpg"
                         class="d-none d-lg-block"
                         alt="hamrafigh" />
                    <img src="~/Assets/images/hamrafigh.jpg"
                         class="d-block d-lg-none img-m"
                         alt="hamrafigh" />
                    <span class="quick-watch text-light py-3 rounded-pill rounded-end">
                        <span class="px-2">پخش فوری</span>
                        <span class="me-4 ms-2 circle"></span>
                    </span>
                    <button class="watch-video text-light btn rounded-pill position-absolute translate-middle">
                        پخش فیلم
                    </button>
                </div>
                <div class="swiper-slide fake-slide">
                    <img src="~/Assets/images/hamrafigh.jpg"
                         class="d-none d-lg-block"
                         alt="hamrafigh" />
                    <img src="~/Assets/images/hamrafigh.jpg"
                         class="d-block d-lg-none img-m"
                         alt="hamrafigh" />
                    <span class="quick-watch text-light py-3 rounded-pill rounded-end">
                        <span class="px-2">پخش فوری</span>
                        <span class="me-4 ms-2 circle"></span>
                    </span>
                    <button class="watch-video text-light btn rounded-pill position-absolute translate-middle">
                        پخش فیلم
                    </button>
                </div>
            </div>
            <div class="swiper-button-next d-none d-lg-inline-flex"></div>
            <div class="swiper-button-prev d-none d-lg-inline-flex"></div>
            <div class="swiper-pagination d-lg-none"></div>
        </div>
    </div>
    <!-- main slider -->
    <!-- irna-24 slider -->
    <div class="irna-24">
        <div class="headshaprtl">
            <h2 class="text-light h5 title">ایرنا 24</h2>
        </div>
        <a href="#" class="nav-link text-light view-all">مشاهده همه</a>
        <!-- irna-24 slider -->
        <div class="irna-24-slider-container">
            <div class="swiper irna-24-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="" class="irna-24-slide-link nav-link text-light">
                            <img src="./images/reportermenu.png" alt="" />
                            <span>گزارش خبری</span>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="" class="irna-24-slide-link nav-link text-light">
                            <img src="./images/goftogoo.jpg" alt="" />
                            <span>گفت وگوی ویژه</span>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="" class="irna-24-slide-link nav-link text-light">
                            <img src="./images/repotaz.jpg" alt="" />
                            <span>مصاحبه</span>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="" class="irna-24-slide-link nav-link text-light">
                            <img src="./images/chat.jpg" alt="" />
                            <span>خبر</span>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="" class="irna-24-slide-link nav-link text-light">
                            <img src="./images/round-table.jpg" alt="" />
                            <span>میز گرد</span>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="" class="irna-24-slide-link nav-link text-light">
                            <img src="./images/studio.jpg" alt="" />
                            <span>استودیو</span>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="" class="irna-24-slide-link nav-link text-light">
                            <img src="./images/document.jpg" alt="" />
                            <span>مستند</span>
                        </a>
                    </div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
    <!-- irna-24 slider -->
    <!-- adds slider -->
    <div class="adds-slider-container">
        <div class="swiper adds-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="#" class="add-content text-light nav-link">تبلیغات 1</a>
                </div>
                <div class="swiper-slide">
                    <a href="#" class="add-content text-light nav-link">تبلیغات 2</a>
                </div>
                <div class="swiper-slide">
                    <a href="#" class="add-content text-light nav-link">تبلیغات 3</a>
                </div>
                <div class="swiper-slide">
                    <a href="#" class="add-content text-light nav-link">تبلیغات 4</a>
                </div>
            </div>
        </div>
    </div>
    <!-- adds slider -->
    <!-- filter section -->
    <div class="filter d-flex d-lg-none mb-3">
        <button type="button" class="btn show-filter">
            <span class="bi bi-funnel"></span>
            فیلتر
        </button>
    </div>
    <div id="filter" class="filter mt-lg-3">
        <div class="btn-group d-none d-lg-flex">
            <a href="#" class="btn text-light">همه</a>
            <a href="#" class="btn text-light">فیلم</a>
            <a href="#" class="btn text-light">سریال</a>
        </div>
        <div class="filter-items">
            <select name="" id="" class="form-select">
                <option selected value="">مرتب سازی</option>
                <option value="">سال ساخت</option>
                <option value="">محبوبیت</option>
            </select>
            <select name="" id="" class="form-select">
                <option selected value="">فیلم و سریال</option>
                <option value="">فیلم</option>
                <option value="">سریال</option>
            </select>
            <select name="" id="" class="form-select">
                <option selected value="">ژانر</option>
                <option value="">رزمی</option>
                <option value="">تاریخی</option>
            </select>
            <select name="" id="" class="form-select">
                <option selected value="">سن</option>
                <option value="">جوانان</option>
                <option value="">بزرگش سالان</option>
            </select>
            <select name="" id="" class="form-select">
                <option selected value="">کیفیت</option>
                <option value="">خوب</option>
                <option value="">عالی</option>
            </select>
            <select name="" id="" class="form-select">
                <option selected value="">کیفیت</option>
                <option value="">رزمی</option>
                <option value="">تاریخی</option>
            </select>
        </div>
        <button class="btn btn-filter text-light">
            <span class="bi bi-funnel"></span>
            <span>اعمال فیلتر</span>
        </button>
    </div>
    <!-- filter section -->
    <!-- latest movies slider -->

    @Html.Action("LatestContents")

    <!-- latest movies -->
    <!-- events slider -->
    <div class="events-slider-container">
        <div class="head mb-2">
            <h2 class="h5 text-light m-0">مناسبت ها</h2>

            <a href="#" class="nav-link text-light view-all">مشاهده همه</a>
        </div>
        <div class="swiper events-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="#" class="events-content text-light nav-link">
                        <img src="./images/best-of-2021-Header.jpg" alt="" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#" class="events-content text-light nav-link">
                        <img src="./images/best-of-Action-2021-Header.jpg" alt="" />
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#" class="events-content text-light nav-link">
                        <img src="./images/best-of-Marvel-2021-Header.jpg" alt="" />
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- events movies -->
    <!-- special section -->
    <div class="special-container mt-lg-4">
        <div class="special-content">
            <img src="./images/siavash.png" alt="sivash" />
            <a href="#" class="btn btn-preview text-light">پیش نمایش</a>
            <a href="#" class="btn btn-episodes text-light">قسمت ها</a>
        </div>
    </div>
    <!-- special section -->
    <!-- oskar movies slider -->
    <div class="oskar-movies-slider-container">
        <div class="head">
            <h2 class="h5 text-light m-0">اسکار 2021</h2>

            <a href="#" class="nav-link text-light view-all">مشاهده همه</a>
        </div>
        <div class="swiper oskar-movies-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="#" class="oskar-movies-content text-light nav-link">
                        <img src="./images/Muddy.jpg" alt="" />
                        <span>فیلم مادی</span>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#" class="oskar-movies-content text-light nav-link">
                        <img src="./images/Tuck-Everlasting-2002-No.jpg" alt="" />
                        <span>فیلم تاک اور لستین</span>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#" class="oskar-movies-content text-light nav-link">
                        <img src="./images/Munich-The-Edge-of-War.jpg" alt="" />
                        <span>فیلم مونیخ در اغاز جنگ</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- oskar latest movies -->
</main>
