@model IRNA.Web.ViewModels.ContentResponseVM


<div class="nav-group ms-2">
    <span id="menu-btn"
          class="bi bi-list text-light h3 m-0 d-inline-flex d-lg-none align-items-center"></span>
    <a class="logo text-light nav-link" href="/">
        <img src="~/Assets/images/logo.png" class="logo-img me-2 rounded-1" alt="" />
        <span>ایرنا فیلم</span>
    </a>
    @foreach (var item in Model.list)
    {
        @*<div class="">*@
            <a class="btn text-light  d-none d-lg-inline-flex"
                   href="/List?genre=@item.id" >
                @item.title
            </a>
           
        @*</div>*@
    }
        <a href="/channel">
    <span class="quick-watch-d text-light py-3 py-lg-2 rounded-pill ms-2 d-none d-lg-inline-flex">
            <span class="px-2">پخش زنده</span>
            <span class="me-4 ms-2 circle"></span>
    </span>
        </a>
</div>