
@{
    ViewBag.Title = "قوانین و مقررات";
}

@section Styles {
    <link href="@Url.Content("~/Assets/css/privacy.css")" rel="stylesheet" type="text/css" />
}


<main class="wraper pb-3">
    <div class="privacy">
        <img src="~/Assets/images/privacy.jpg" alt="about" />
        <h3>قوانین و مقررات</h3>
        <p class="content">
            شرایط ادامه خدمات و شیوه نامه حریم خصوصی در ایرنا فیلم
            <br />
            <br />
            ه ایرنا فیلم خوش آمدید. سپاس گذاریم که از سرویس های ایرنا فیلم استفاده
            می کنید. این سرویس ها را موسسه فرهنگی هنری آینه جـادو با همکــاری دو
            اپراتـور تلفن همراه جمهوری اسلامی ایران«همـراه اول» و «ایرانــــسل» ،
            ارائه می کند. با استفاده از ایرنا فیلم، شما با شرایط زیر موافقت می
            کنیــــــد. لطفا آن ها را دقیق مطالعه کنید.
        </p>
        <p class="content">
            استفاده از سرویس های ایرنا فیلم
            <br /><br />
            شما باید از کلیۀ خط مشی های ایرنا فیلم پیروی کنید. از سرویس های ایـرنا
            فیلم سوء استفاده نکنید. مثلاً از تداخل در سرویس های ایرنـــا فیلم یا
            تلـــاش بــرای دسترسی بـه آن ها از روشی جز رابط کاربری و دستورالعمل
            هـــای ایــرنا فیلـــم ،خودداری کنید. از سرویس های ایرنا فیلم فقط به
            روش مجاز شناخته شدۀ قانونی از جمـله قانـون تجــارت الکترونیک ایران
            مصوب 1382 ،استفاده کنید. اگــــر از شرایط یا خط مشی های ایرنا فیلم
            تخطی کنید و یا هر گونه عملکــرد مشکـــوک داشته باشید، ممکن است ارائۀ
            سرویس ها را به شما را متوقف کنیم یا به حالـــت تعلیق درآوریم. استفاده
            از سرویس های ایرنا فیلم سبب نمی شود مالکیت هرکدام از دارایی ها و حقوق
            مادی و معنوی موجود در سرویـس های ایـــــرنا فیلم یـــا محتواهایی که به
            آن ها دسترسی دارید به شما تعلق بگیرد. شما امکان استفاده از محتوا و
            سرویس های ایرنا فیلم را دارید چـون دارندۀ حــق مالکیـت فکـــری آن
            محصول یا سرویس به شما اجازه داده یا به واسطۀ قانون مجـاز به انجــام
            این کار هستید. این شرایط به شما این حق را نمی دهد که از مارک یا
            لوگوهـای استفـاده شده در این سرویس ها استفاده کنید. اعلامیه های حقوقی
            ایرنا فیلم را حـذف یا نامفهوم نکنید یا تغ￾رشان ندهید. مسئولیـت
            محتواهــایی کـه در ایــرنا فیــلم مشاهده می کنید تنها بر عهدۀ سازمانی
            است که آن را از این طریــق در اختیـــار کاربران قرار داده است. ما
            محتوا را بازبینی نمی کنیم. ممکن است اعلامیه هـــای سرویس ها، پیام های
            اجرایی و سایر اطلاعات در ارتباط با استفادۀ شما از ایـــرنا فیلم را از
            روش های مختلف مانند پیامک، آگه ساز یا ایمیل برای شما ارسال کنیم.
        </p>
        <p class="content">
            حساب کاربری شما در ایرنا فیلم
            <br />
            <br />
            برای بهره مندی کامل از سرویس های ایرنا فیلم به حساب کاربری در ایرنا
            فیلم نیاز دارید. برای حفاظت از حساب کاربری خود در ایرنا فیلم، رمـزتـان
            را فــاش نکـنید . شما مسئول اتفاقاتی هستید که در حساب کاربری شما در
            ایرنا فیلم یا از طریـق آن رخ می دهد (مثلاً خریدهایی که انجام می شود).
            سعی کنید از رمـز حساب کاربری ایرنا فیلم خود در برنامه های دیگر
            استفادۀ مجدد نکنید. اگر متـــوجه شدیـــد به واسطۀ استفادۀ شما از
            سرویس های ایرنا فیلم از رمز یا حساب کاربری یا هر گونـه اطلاعات شخـصی
            دیگر از قبیل شمارۀ تلفن یا اطلاعات حساب های بانـکی تــان استفادۀ
            غیرمجاز می شود، این دستورالعـمل ها را دنبال کنید یـا از طریق بــخش
            »پشتیبــانی» با مــا تماس بگیرید.
        </p>
    </div>
</main>