:root {
    --bgc-primary: #151f30;
    --bgc-primary-accent: #1c2c46;
    --bgc-main: #131720;
    --bgc-secondary: #e100d2;
    --bgc-filler: rgb(114, 206, 134);
    --text-color: #7085aa;
  }
  .user-dashboard {
    display: flex;
    align-items: center;
    margin-block: 1rem;
    width: calc(100% - 2rem);
    margin-inline: auto;
  }
  hr {
    color: var(--text-color);
    width: calc(100% - 2rem);
    margin-block-start: 0;
    margin-inline: auto;
  }
  .user-dashboard .bi {
    color: whitesmoke;
    background-color: var(--bgc-secondary);
    width: 5rem;
    height: 5rem;
    aspect-ratio: 1;
    border-radius: 1rem;
    font-size: 5rem;
  }
  .user-dashboard .user-info {
    display: flex;
    flex-direction: column;
    margin-inline-start: 1rem;
  }
  .user-info span {
    color: whitesmoke;
  }
  .categories {
    width: calc(100% - 2rem);
    margin-inline: auto;
    margin-block-end: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .categories .btn {
    background-color: var(--bgc-primary);
    color: whitesmoke;
    width: calc(50% - 0.5rem);
    border-radius: 0.7rem;
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .categories .btn .bi {
    margin-inline-end: 0.5rem;
  }
  .categories .btn:hover,
  .categories .btn:focus {
    background-color: var(--bgc-secondary);
  }
.changepasswordform{
    width: 100%;
    padding: 0;
    margin: 0;
}
.changepasswordform .head-warn{
    display: inline-flex;
    font-size: 0.7rem;
    color: whitesmoke;
    padding-block: 1rem;
    width: 100%;
    justify-content: center;
}
.change-password{
    position: relative;
    width: calc(100% - 2rem);
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bgc-primary);
    border-radius: 1rem;
    padding: 1rem;
    margin-block-end: 5rem;
    padding-block-end: 3rem;
}
.change-password .input-group{
    align-items: flex-start;
    background-color: transparent;
}
.change-password .input-group .input-group-text{
    font-size: 1.75rem;
    background-color: transparent;
    color: var(--text-color);
    border: none;
    border-block-end: 1px solid var(--text-color);
}

.change-password input[type='password']{
background-color: transparent;
border: none;
border-block-end: 1px solid var(--text-color);
width: calc(100% - 3.2rem);
margin-block-end: 1rem;
padding-block:0.5rem ;
color: var(--text-color);
}
.change-password input[type='password']::placeholder{
color: var(--text-color);
font-size: 0.7rem;
}
.change-password .btn{
    position: relative;
    background-color: var(--bgc-secondary);
    color: whitesmoke;
    border-radius: 0.7rem;
    width: 100%;
    top:2rem;
    margin-block-end: -5rem;
}
  @media (min-width: 992px) {
    .user-dashboard-container {
      width: calc(100% - 6rem);
      margin-inline: auto;
    }
    .categories {
      flex-direction: column;
      width: 20%;
      margin-block-start: 1rem;
    }
    .categories .btn {
      width: 100%;
    }
    .big-padding{
      padding-inline: 5rem;
    }
    .changepasswordform{
        padding-inline: 5rem;
    }
    .change-password {
        padding-block-end: 4rem;
    }
    .change-password .btn{
        width: 20%;
        top: 0;
    }
  }
  