:root {
    --bgc-primary: #151f30;
    --bgc-primary-accent: #1c2c46;
    --bgc-main: #131720;
    --bgc-secondary: #e100d2;
    --bgc-filler: rgb(114, 206, 134);
    --text-color:#7085AA;
  }
  .inter-password{
      width: calc((100% - 2rem));
      margin-inline: auto;
      padding: 3rem 1.5rem ;
      background-color: var(--bgc-primary);
      border-radius: 1rem;
      margin-block: 2rem;
  }
.inter-password h2{
    font-size: 1rem;
    color: whitesmoke;
    margin-block-end: 1rem;;
}
.inter-password p:first-of-type{
    display: flex;
    justify-content: space-between;
    font-size: 0.7rem;
    color: var(--text-color);
    margin-block-end: 1rem;
}
.inter-password .form-control{
    text-align: start;
    border-radius: 0.7rem;
    margin-block-end: 1rem;
}

.inter-password p:last-of-type{
    display: flex;
    color: whitesmoke;
    justify-content: center;
}
.inter-password p:last-of-type a{
    color: whitesmoke;
    text-decoration: none;
}
  .inter-password .btn{
    background-color: var(--bgc-secondary);
    color: whitesmoke;
      border-radius: 0.7rem; 
      width: 100%;   
      margin-block-end: 2rem;  
}
  @media(min-width:992px){
      .inter-password{
        width: 33%;
      }
  }