:root {
  --bgc-primary: #151f30;
  --bgc-primary-accent: #1c2c46;
  --bgc-main: #131720;
  --bgc-secondary: #e100d2;
  --bgc-filler: rgb(114, 206, 134);
  --text-color: #7085aa;
}
.bgc-main{
    background-color: var(--bgc-main);
}
.bgc-secondary{
    background-color: var(--bgc-secondary);
}
.user-dashboard {
  display: flex;
  align-items: center;
  margin-block: 1rem;
  width: calc(100% - 2rem);
  margin-inline: auto;
}
hr {
  color: var(--text-color);
  width: calc(100% - 2rem);
  margin-block-start: 0;
  margin-inline: auto;
}
.user-dashboard .bi {
  color: whitesmoke;
  background-color: var(--bgc-secondary);
  width: 5rem;
  height: 5rem;
  aspect-ratio: 1;
  border-radius: 1rem;
  font-size: 5rem;
}
.user-dashboard .user-info {
  display: flex;
  flex-direction: column;
  margin-inline-start: 1rem;
}
.user-info span {
  color: whitesmoke;
}
.categories {
  width: calc(100% - 2rem);
  margin-inline: auto;
  margin-block-end: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.categories .btn {
  background-color: var(--bgc-primary);
  color: whitesmoke;
  width: calc(50% - 0.5rem);
  border-radius: 0.7rem;
  font-size: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.categories .btn .bi {
  margin-inline-end: 0.5rem;
}
.categories .btn:hover,
.categories .btn:focus {
  background-color: var(--bgc-secondary);
}

.subscribtion-container {
  display: flex;
  flex-direction: column;
}
.subscribtion-card {
  display: flex;
  flex-direction: column;
  width: calc(100% - 2rem);
  margin-inline: auto;
  margin-block-end: 1rem;
  padding: 1rem;
  gap: 0.5rem;
  background-color: var(--bgc-primary);
  border-radius: 1rem;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.4);
}
.subscribtion-card .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.25rem;
}
.head .icon span {
  color: whitesmoke;
  font-size: 2rem;
}
.head .subscription-type {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.head .subscription-type .first-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.9rem;
}
.head .subscription-type .first-row span:first-of-type {
  font-size: 0.8rem;
  color: whitesmoke;
}
.head .subscription-type .first-row .btn {  
  border-radius: 0.7rem;
  font-size: 0.7rem;
  padding-inline: 0.25rem;
  color: whitesmoke;
}
.head .subscription-type .second-row {
  color: var(--text-color);
  font-size: 0.7rem;
}
.head .remaining-date span {
  font-size: 0.9rem;
  color: whitesmoke;
}
.subscribtion-card .info {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}
.info .progress{
    width: 100%;
    margin-block-end: 0.5rem;
}
.subscribtion-card .info .btn {
  font-size: 0.7rem;
  color: var(--text-color);
  padding-inline: 0.25rem;
  background-color: var(--bgc-main);
  justify-content: space-evenly;
  border-radius: 0.7rem;
  width: 32%;
  text-align: center;
}
@media (min-width: 992px) {
  .user-dashboard-container {
    width: calc(100% - 6rem);
    margin-inline: auto;
  }
  .categories {
    flex-direction: column;
    width: 20%;
    margin-block-start: 1rem;
  }
  .categories .btn {
    width: 100%;
  }
  .big-padding {
    padding-inline: 5rem;
  }
  .subscribtion-container{
      flex-grow: 1;
      padding-inline: 5rem;
  }
  .subscribtion-card{
      padding-inline: 2rem;
  }
  .subscribtion-card .head{
      gap: 1rem;
  }
  .head .subscription-type{
      flex-grow: 1;
  }
  .info .progress{
      width: calc(80% - 1rem);
  }
  .subscribtion-card .info{
      gap: 0.5rem 1rem;
      justify-content: space-between;
  }
  .subscribtion-card .info .btn{
      width: calc(20% - 1rem );
  }
}
