:root {
  --bgc-primary: #151f30;
  --bgc-primary-accent: #1c2c46;
  --bgc-main: #131720;
  --bgc-secondary: #e100d2;
  --bgc-filler: rgb(114, 206, 134);
  --text-color: #7085aa;
}
.user-dashboard {
  display: flex;
  align-items: center;
  margin-block: 1rem;
  width: calc(100% - 2rem);
  margin-inline: auto;
}
hr {
  color: var(--text-color);
  width: calc(100% - 2rem);
  margin-block-start: 0;
  margin-inline: auto;
}
.user-dashboard .bi {
  color: whitesmoke;
  background-color: var(--bgc-secondary);
  width: 5rem;
  height: 5rem;
  aspect-ratio: 1;
  border-radius: 1rem;
  font-size: 5rem;
}
.user-dashboard .user-info {
  display: flex;
  flex-direction: column;
  margin-inline-start: 1rem;
}
.user-info span {
  color: whitesmoke;
}
.categories {
  width: calc(100% - 2rem);
  margin-inline: auto;
  margin-block-end: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.categories .btn {
  background-color: var(--bgc-primary);
  color: whitesmoke;
  width: calc(50% - 0.5rem);
  border-radius: 0.7rem;
  font-size: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.categories .btn .bi {
  margin-inline-end: 0.5rem;
}
.categories .btn:hover,
.categories .btn:focus {
  background-color: var(--bgc-secondary);
}
.user-dashboard-container .filter {
  margin-block-start: 2rem;
  margin-block-end: 1rem;
  display: flex;
}
.user-dashboard-container .filter .btn {
  background-color: var(--bgc-main);
}
.user-dashboard-container .filter .btn:hover,
.user-dashboard-container .filter .btn:focus {
  background-color: var(--bgc-secondary);
}
.user-dashboard-container .filter .btn:first-of-type {
  border-start-start-radius: 0.7rem;
  border-end-start-radius: 0.7rem;
}
.user-dashboard-container .filter .btn:last-of-type {
  border-start-end-radius: 0.7rem;
  border-end-end-radius: 0.7rem;
}
.videos-container {
  width: calc(100% - 2rem);
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.videos-container .video-card {
  width: calc(33% - 0.35rem);
  aspect-ratio: 3/4;
}
.videos-container .video-card img {
  width: 100%;
  border-radius: 0.7rem;
}
.videos-container .video-card {
  font-size: 0.7rem;
  color: whitesmoke;
}
@media (min-width: 992px) {
  .user-dashboard-container {
    width: calc(100% - 6rem);
    margin-inline: auto;
  }
  .categories {
    flex-direction: column;
    width: 20%;
    margin-block-start: 1rem;
  }
  .categories .btn {
    width: 100%;
  }
  .big-padding{
    padding-inline: 5rem;
  }
  .user-dashboard-container .filter {
    margin-block-start: 1rem;
    margin-block-end: 2rem;
  }
  .user-dashboard-container .filter {
    width: 30%;
  }
  .user-dashboard-container .filter .btn-group {
    width: 100%;
  }
  .videos-container {
    width: 100%;
    padding-inline: 1rem;
  }
  .videos-container .video-card {
    width: calc(20% - 0.45rem);
  }
}
